<div class="container">


<h1>All the Burgers I want to Eat!!!</h1>

<img src="/public/assets/img/beyond-burger.jpg" alt="Beyond-Burger">

<h2>This are all the Burger that I will eat one day:</h2>

<ul>

</ul>

<h2>This are all the Burgers that I have eaten and were delicious!!!</h2>
<ul>

</ul>


<h2>Add all the Burgers you would like to try:</h2>
<form class="create-form">
    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
    </div>

</form>
<button>Devour</button>
</div>