<div class="container">


<h1><span class="badge badge-danger">Eat Da Super Burger!</span></h1>

<img src="/assets/img/burger.gif" alt="Beyond-Burger" style="width:200px;height:200px; border-radius:10px;">

<h2>These are all the Burger that I will DEVOUR one day:</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>These are all the Burgers that I have DEVOURED and were delicious!!!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}

</ul>


<h2>Add all the Burgers you would like to try:</h2>
<form class="create-form">
    <div class="form-group">
        <textarea id="input-field" type="text" name="name"></textarea>
    
        {{!-- <label for="bu">Burger Name:</label> --}}
    </div>

</form>
<button type="button" class="btn btn-danger" data-toggle='tooltip' data-placement='bottom' title="That sounds delicious!">Submit</button>

</div>