<li>
    {{burger_name}}
    <button class='change-devoured btn btn-danger' data-id='{{id}}' data-newburger="{{burger_name}}">
        {{#if devoured}} Devour?{{else}}Devoured!{{/if}}
    </button>
</li>